@using Degree_Planner.Models
@{
    ViewData["Title"] = "Index";
}
@model User

<h2>Currently logged in as @Model.Username</h2>

@if(Model.IsAdmin) {
    @Html.ActionLink("Upload degree csv", "UploadDegree", "Planner")
    <br />
    @Html.ActionLink("Upload course group csv", "UploadCourseGroup", "Planner")
    <br />
    @Html.ActionLink("Upload prerequisite csv", "UploadCourseList", "Planner")
}